* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-container { 
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    width: 15%;
    max-width: 15%;
    min-width: 15%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;

}

.left-container > span {
    margin-right: 13.5rem;
}

.right-container {
    width: 85%;
    max-width: 85%;
    min-width: 85%;
    background-color: salmon;
}

.right-header-container {
    background-color: white;
    height: 13rem;
    max-height: 13rem;
    min-height: 13rem;
    box-shadow: 0 4px 4px rgb(209, 186, 186);
}

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 1.25rem;
}

.leftnav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

#searchbar {
    height: 2rem;
    border-radius: 20rem;
    padding-left: 1rem;
    width: 45rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
    background-color: #e2e8f0;
}

#magnify {
    height: 2rem;
}

.rightnav {
    display: flex;
    flex-direction: row;
    margin-left: 18rem;
    gap: 2.5rem;
    align-items: center;
    font-size: 1.5rem;
}

#bell {
    height: 2rem;
}

#pfp {
    height: 3.25rem;
}

.bottomnav {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    align-items: center;
}

.left-info {
    display: flex;
    flex-direction: row;
}

#pfp-big {
    height: 5rem;
}

.intro-text {
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: bold;
}

#greeting {
    margin-bottom: 0.15rem;
}

#username {
    font-size: 2rem;
}

.right-buttons {
    display: flex;
    flex-direction: row;
    margin-left: 39.5rem;
    gap: 1.5rem;
}

.right-buttons > button {
    background-color: #1992d4;
    color: white;
    width: 6rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: none;
    border-radius: 10rem;
    font-weight: bold;
    font-size: 0.9rem;
}

#dashboard-heading {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 2.25rem;
    border: 2px solid black;
}

.sidenav-text-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 2.25rem;
    border: 2px solid black;
}

.grid-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    border: 2px solid green;
}

.grid-item > p {
    border: 2px solid red;
}

.grid-item > a {
    border: 2px solid blue;
}