* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.parent-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-container { 
    display: flex;
    flex-direction: column;
    background-color: #1992d4;
    width: 20%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;

}

.right-container {
    background-color: #e2e8f0;
    width: 80%;
}

.right-header-container {
    background-color: white;
    height: 12rem;
    max-height: 12rem;
    min-height: 12rem;
    box-shadow: 0 4px 4px rgb(209, 186, 186);
}

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 1.25rem;
}

.leftnav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

#searchbar {
    height: 2rem;
    border-radius: 20rem;
    padding-left: 1rem;
    width: 45rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
    background-color: #e2e8f0;
}

#magnify {
    height: 2rem;
}

.rightnav {
    display: flex;
    flex-direction: row;
    margin-left: 18rem;
    gap: 2.5rem;
    align-items: center;
    font-size: 1.5rem;
}

#bell {
    height: 2rem;
}

#pfp {
    height: 3.25rem;
}

.bottomnav {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 0.2rem;
    align-items: center;
}

.left-info {
    display: flex;
    flex-direction: row;
}

#pfp-big {
    height: 5rem;
    margin-top: 1rem;
}

.intro-text {
    margin-left: 2rem;
    margin-top: 1.45rem;
    width: 45rem;
    font-weight: bold;
}

#greeting {
    margin-bottom: 0.15rem;
}

#username {
    font-size: 2rem;
}

.right-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 9rem;
    gap: 2rem;
}

.right-buttons > button {
    background-color: #1992d4;
    color: white;
    width: 7rem;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    border: none;
    border-radius: 10rem;
    font-weight: bold;
    font-size: 1rem;
}

#dashboard-heading {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 4rem;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-right: 5rem;
    filter: invert(100%);
}

#dashboard-heading:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.sidenav-text-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 4.4rem;
    filter: invert(100%);
}

.grid-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    margin-right: 6rem;
}

.grid-item > p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.grid-item > img {
    height: 2rem;
}

.grid-item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#dashboard-icon {
    height: 3rem;
}

#communities {
    margin-bottom: 4rem;
}

#card-headings {
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 2.2rem;
    margin-top: 2rem;
    gap: 65rem;
}

.body-container {
    display: flex;
    height: 40rem;
    max-height: 40rem;
    min-height: 40rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
}

.left-cards {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    overflow: auto;
}

.card {
    border-radius: 0.8rem;
    border-left: 0.6rem solid orange;
    background-color: white;
}

.card > h2 {
    padding-left: 1.5rem;
    margin-bottom: 0.2rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.card > p {
    padding-left: 1.5rem;
    padding-right: 1.5em;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #646464;
}

.card > img {
    margin-left: 32rem;
    height: 2rem;
}

.card > img:hover {
    cursor: pointer;
    filter: invert(50%);
}

.bottom-icons > img {
    height: 2rem;
}

.bottom-icons > img:hover {
    cursor: pointer;
    filter: invert(50%);
}

.bottom-icons {
    display: flex;
    gap: 2rem;
    margin-left: 28rem;
}

#extra {
    margin-top: 2rem;
}

.right-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    gap: 4rem;
    margin-left: 2rem;
}

.right-card {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr;
    border-radius: 0.8rem;
}

.announcement {
    padding-left: 2rem;
    padding-right: 2rem;
}

.announcement > p, .announcement > h3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.announcement > p {
    margin-bottom: 1rem;
    color: #646464;
}

.announcement > h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
}

hr {
    border: 1px solid rgb(228, 220, 220)
}

#trending-card {
    padding-left: 1.25rem;
}

#trending {
    position: absolute;
    top: 39rem;
    font-size: 1.4rem;
    font-weight: 600;
}

#trending-card > div:nth-child(1) {
    padding-top: 0.5rem;
}

.trend {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    border: 2px
}

.trend > img {
    height: 3.5rem;
}

.summary > p:nth-child(2) {
    color: #646464;
}

.summary {
    padding-top: 0.5rem;
}